<header>
  <nav>
    <a href="/">Dark Humor</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/jokes">Jokes</a></li>
      <li><a href="/jokes/new">Add Joke</a></li>
    </ul>
  </nav>
</header>